.compareButton {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: orange;
  text-shadow: 1px 1px 1px black;
  border-radius: 10px;
  background-color: red;

  background-image: linear-gradient(
    to top left,
    rgb(0 0 0 / 0.2),
    rgb(0 0 0 / 0.2) 30%,
    transparent
  );

  box-shadow: inset 2px 2px 3px rgb(255 255 255 / 0.6),
    inset -2px -2px 3px rgb(0 0 0 /0.6);
}
h1 {
  text-align: center;
}
.compare {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.highlight {
  background-color: yellow;
}
